# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=



# Server
SERVER_PORT=
NODE_ENV=
LOG_LEVEL=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Database URL for server
DATABASE_URL=postgresql://postgres:pass@postgres:5432/nameDB?schema=public
